language: python
python:
    - "3.6"

services:
    - docker

install:
    - pip install flake8
    - docker build . -t sweet-rl-test

script:
    # Not ready yet :) - flake8 . --show-source --statistics
    - docker run -e RUNSLOW=1 sweet-rl-test pytest -v .